.arrow-icon {
    font-size: 1.4em;
}

#sidebar .list-group-item {
  box-shadow: none;
}

#sidebar {
  min-height: 100vh;
}

#sidebar .list-group-item:hover {
  background-color: #F5F5F5;
}

#sidebar.active {
  margin-left: -250px;
}

a[data-toggle="collapse"] {
  position: relative;
}

#sidebar .dropdown-toggle::after {
  display: none;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  transition: all 0.3s;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
}

#sidebar ul ul a {
  padding-left: 30px !important;
}